*{
    margin: 0;
    padding: 0;
}
h1{
   text-align: center;
   font-size: 45px;
   margin: 30px;
}
#and{

    background-image: url(/animation/svgs/server.svg);
    right: 7%;
    height: 420px;
    width: 420px;
    background-size:cover;
    position: relative;
}
#files,#img{
    /* background-image: url(/animation/svgs/image_transfer_folder.svg); */
    height: 100px;
    width: 100px;
    background-size:cover;
    position: absolute;
    left: 10%;
    top: 35%;
    

}
#container{
    padding-bottom: 5%;
    background-image:linear-gradient(#1b262c,#bbe1fa,#3282b8,#0f4c75);
}
#laptop,#img2{
    height: 300px;
    width: 500px;
    background-size:cover;
    position: absolute;
    left: 50%;
    top: 25%;

}
button{
    margin-top: 200px;
    position: relative;
    left: 40%;
    background: black;
    font-size: 50px;
    color: white;
    padding: 20px;
    border:none;
    cursor: pointer;
}
progress{
    position: absolute;;
    top: 90%;
    left: 15%;
    width: 70%;
    height: 50px;

}
#tick-id{
    height: 300px;
    width: 300px;
    background-size:cover;
    position: absolute;
    left: 15%;
    top: 55%;
}



#demo{
padding: 15px;
margin-top: 2%;  
font-size: 40px;
   color: black;
   background-color: white;
}
@media(max-width:768px)
{
    #container{
        background: none;
    }
    
    #laptop,#img2{
        height: 200px;
        width: 400px;
        background-size:cover;
        position: absolute;
        left: 70%;
        top: 26%;
    
    }
    progress{
        position: absolute;;
        top: 80%;
        left: 40%;
        width: 90%;
        height: 50px;
    
    }
    button{
     left: 50%;
    }   
    #tick-id{
        left: 15%;
        top: 25%;
    }
}
@media(max-width:1024px)
{
    #files,#img{
        left: 20%;
        top: 20%;
        
    
    }
    
    #container{
        background: none;
    }
    
    #laptop,#img2{
        height: 200px;
        width: 400px;
        background-size:cover;
        position: absolute;
        left: 70%;
        top: 20%;
    
    }
    progress{
        position: absolute;;
        top: 50%;
        left: 40%;
        width: 70%;
        height: 50px;
    
    }
    button{
     left: 50%;
     margin-top: 250px;
    } 
    #tick-id{
        left: 15%;
        top: 25%;
    }
}  
@media(max-width:375px)
{
    #container{
        background: none;
    }
    
    #laptop,#img2{
        height: 200px;
        width: 400px;
        background-size:cover;
        position: absolute;
        left: 100%;
        top: 37%;
    
    }
    progress{
        position: absolute;;
        top: 90%;
        left: 90%;
        width: 90%;
        height: 80px;
    
    }
    button{
     left: 80%;
     margin-top: 300px;
    } 
    #tick-id{
        left: 15%;
        top: 25%;
    }
    #files,#img{
        height: 250px;
        width: 100px;
        background-size:cover;
        position: absolute;
        left: 30%;
        top: 30%;
    
    }
    #tick-id{
        width: 150px;
        height: 150px;
        background-size:cover;
        
    
    }
    
    
    
    #demo{
    padding: 15px;
    margin-top: 2%;  
    font-size: 24px;
       color: black;
       background-color: white;
    }
}  

@media(max-width:414px)
{
    #container{
        background: none;
    }
    
    #laptop,#img2{
        height: 200px;
        width: 400px;
        background-size:cover;
        position: absolute;
        left: 100%;
        top: 37%;
    
    }
    progress{
        position: absolute;;
        top: 90%;
        left: 90%;
        width: 90%;
        height: 80px;
    
    }
    button{
     left: 80%;
     margin-top: 300px;
    } 
    #tick-id{
        left: 15%;
        top: 25%;
    }
    #files,#img{
        height: 250px;
        width: 100px;
        background-size:cover;
        position: absolute;
        left: 30%;
        top: 30%;
    
    }
    #tick-id{
        width: 150px;
        height: 150px;
        margin-top: 50px;
        background-size:cover;
        
    
    }
    h1{
        text-align: center;
        font-size: 55px;
        margin: 1px;
     }
    
    
    #demo{
    padding: 15px;
    margin-top: 2%;  
    font-size: 24px;
       color: black;
       background-color: white;
    }
} 


@media(max-width:320px)
{
    #container{
        background: none;
    }
    
    #laptop,#img2{
        height: 200px;
        width: 400px;
        background-size:cover;
        position: absolute;
        left: 100%;
        top: 50%;
    
    }
    progress{
        position: absolute;;
        top: 125%;
        left: 90%;
        width: 150%;
        height: 80px;
    
    }
    button{
     left: 100%;
     margin-top: 300px;
    } 
    #tick-id{
        left: 15%;
        top: 45%;
    }
    #files,#img{
        height: 250px;
        width: 100px;
        background-size:cover;
        position: absolute;
        left: 40%;
        top: 40%;
    
    }
    #tick-id{
        width: 150px;
        height: 150px;
        background-size:cover;
        
    
    }
   
    
    #demo{
    padding: 15px;
    margin-top: 2%;  
    font-size: 24px;
       color: black;
       background-color: white;
    }
}  
